/* This is the standard css layout*/
@import url('https://fonts.cdnfonts.com/css/bw-modelica-ss01');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Josefin Sans', sans-serif;
}

:root{
    /*Here insert css variables*/
    --text-color:rgb(146,44,40);
}
header{
    width: 100%;
    padding: .8rem 1rem;
    box-shadow: 0px 1.5px 10px rgb(200,200,200);
}
header img, .modal img{
    width: 5rem;
    height: 3.5rem;
}
header > div{
    display: flex;
    align-items: center;
}
header label{
    position: absolute;
    right: 1rem;
    top: 1rem;
    font-size: 2rem;
    color: var(--text-color);
}
header > label i:last-child{
    display: none;
}
.main-nav-img{
    display: none;
}
.main-nav{
    display: none;
}
#nav-check{
    display: none;
}
#nav-check:checked ~ #modal-navbar{
    display: block;
}
#nav-check:checked ~ label > .fa-bars{
    display:none;
}
#nav-check:checked ~ label > .fa-xmark{
    display: inline-block;
}

#mobile-navbar a{
    color:rgb(70,70,70);
    font-size: 1.08rem;
    display: inline-block;
    padding-block: .5rem;
    text-shadow: 0px 0px .4px rgb(146,44,40);
    text-decoration: none;
}
#mobile-navbar ul li{
    margin-block-end: 1rem;
    /*border-bottom: .03px solid rgba(146,44,40, .5);*/
}
#mobile-navbar ul{
    padding: 0;
}
#mobile-navbar i.fa-angle-up { display: none;}
.products:hover > i.fa-angle-down{ display: none; }
.products:hover > i.fa-angle-up{ display: inline-block; }
.products:hover > div{ 
    display: block;
}
#mobile-navbar i{
    font-size: .6rem;
    margin-inline-end: .75rem;
    color: var(--text-color);
    background-color: rgba(146,44,40,.15);
    padding: .75rem .75rem;
    border-radius: 45%;
}

.products > div{
    position: relative;
    left:20%;
}
.products > div a{
    color:rgb(150,150,150);
    font-family: Inter;
    text-shadow: none;
    font-size: .9rem;
    padding: .2rem;
}
.products > div ul li { 
    border-bottom: none;
    margin-block-end: .02rem;
    
}
/*Working on Clicking Products to display child div*/

#mobile-navbar .products .fa-angle-down, .products .fa-angle-up{
    background-color: transparent;
    color: inherit;
    font-size: .9rem;
}

#mobile-navbar .sign-in{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-block-start: 1rem;
}
#mobile-navbar .sign-in a{
    padding: .23rem .1rem;
    border: .8px solid rgb(120,120,120);
    border-radius: 6px;
    color: rgb(240,240,240);
    background: var(--text-color);
}
#mobile-navbar .sign-in i{
    color: rgb(240,240,240);
    padding: 0;
    font-size: 1rem;
}
.fa-arrow-right-to-bracket{
    margin-inline-start: .8rem;
}
.fa-file-invoice{
    margin-inline-end: 1rem;
}
.mobile-padding{
    padding-inline: 1rem;
}
.main-section{
    margin-block-start: 2rem;
}
.main-section .main-writ h1, .main-writ span{
    font-family: 'Young Serif', serif;
    font-size: 2.95rem;
    color: rgb(30,30,30);
}
.main-section .main-writ span{
    color: var(--text-color);
}
.main-section .main-writ p{
    font-family: Inter;
    color: rgb(90,90,90);
    text-shadow: 0px 0px 1px rgba(90,90,90,.6);
    margin-block: 2rem;
}
.main-section .main-buttons{

}
.main-section .main-buttons a, .main-buttons p{
    font-family: Inter;
    border-radius: 8px;
}
.main-section .main-buttons a:first-child{
    background-color: goldenrod;
    color: var(--text-color);
    text-align: center;
    text-decoration: none;
    font-size: .9rem;
    padding: .85rem .5rem;
}
.main-section .main-buttons img{
    max-width: 45%;
    border-radius: 8px;
}
.bill_payments h1, .bill_payments p{
    font-size: Inter;
}
.business-tools{
    margin-block: 3rem;
    text-align: center;
    padding-inline: 1rem;
}
.business-tools h1{
    font-family: Inter;
    font-weight: 800;
    font-size: 1.75rem;
    
}
.business-tools > div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-block-start: 2rem;
}
.business-tools > div > div{
    width: 45%;
    border: .2px solid rgb(240,240,240);
    padding: .8rem;
    margin-block-end: 1rem;
    border-radius: 8px;
}
.business-tools > div > div p{
    font-family: Inter;
    font-size: 1rem;
    margin-block-start: 1.2rem;
    font-weight: 900;
    text-shadow: 0px 0px .6px rgb(70,70,70);
}
.business-tools img{
    max-width: 100%;
}
.business-tools .coming-soon{
    font-size: .8rem;
    background-color: goldenrod;
    border-radius: 50px;
}
footer > div{
    background-color: var(--text-color);
    padding: 2rem;
}
footer > div{
    margin-block-end: 2rem;
}
footer h5{
    font-weight: 600;
    margin-block-end: 1rem;
}

footer h5, footer a, footer p {
    font-family: Inter;
    text-decoration: none;
    color: rgb(240,240,240);
    font-size: .9rem;
}
footer p{
    line-height: 1.2rem;
    text-align: justify;
}
#socials i{
    color: rgb(240,240,240);
    font-size: 1.2rem;
    margin-inline-end: .8rem;
}
@media screen and (min-width: 578px) {
    
}
@media screen and (min-width: 790px) {
    footer > div{
        display: flex;
        justify-content: space-around;
    }
    footer > div .footer-mission {
        max-width: 20%;
    }
    .main-nav-img{
        display: block;
    }
    .mobile-navbar-img{
        display: none;
    }
    
}
@media screen and (min-width: 900px) {
    header label{
        display: none;
    }
    .main-nav{
        display: flex;
        justify-content: space-between;
        padding-inline: 1rem;
        align-items: center;
        font-size: 1rem;
    }
    .main-nav > ul{
        display: flex;
        justify-content: space-evenly;
        width:50%;
        margin: 0;
        padding: 0;
    }
    .main-nav li a{
        color:rgb(70,70,70);
        text-decoration: none;
        display: flex;
        align-items: center;
    }
    .main-nav li a:hover{
        color: var(--text-color)
    }
    .main-nav-products div{
        position: absolute;
        background-color: #ffffff;
        width:250px;
        padding:.5rem;
        box-shadow: 0px 0px 20px rgba(200,200,200,.6);
        border-radius: 5px;
        transform: scale(0,0);
    }
    .main-nav-products div li{
        margin-block-end: 1rem;
    }
    .main-nav-products:hover > div{
        transform: scale(1, 1);
        transform-origin: bottom;
        transition: transform .18s ease-in-out;
    }
    .main-nav-products:hover  .fa-angle-up{
        display: inline-block;
    }
    .main-nav-products .fa-angle-down{
        margin-inline-start: .2rem;
    }
    .main-nav-products .fa-angle-up{
        display: none;
        margin-inline-start: .2rem;
    }
    .main-nav-products:hover  .fa-angle-down{
        display: none;
    }
    .main-nav > div:last-child{
        display: flex;
        width: 19%;
        justify-content: space-between;
    }
    .main-nav > div:last-child a{
        text-decoration: none;
        border: .5px solid var(--text-color);
        border-radius: 10px;
        padding: .2rem .3rem;
        color: var(--text-color);
        font-size: .9rem;
    }
    .main-nav > div:last-child a:hover{
        background-color: rgba(146,44,40, .6);
        color: rgb(240,240,240);
    }
    .business-tools > div{
        justify-content: space-around;
        margin-block-start: 2rem;
    }
    .business-tools{
        margin-block: 3rem;
        text-align: center;
        padding-inline: 7rem;
    }
    .business-tools > div > div{
        width: 24%;
        border: none;
        margin-block-end: 1rem;
        border-radius: 8px;
    }
    .business-tools > h1{
        width: 60%;
        margin-inline: auto;
    }
     div > div p{
        font-size: 1.25rem;
    }
}
@media screen and (min-width: 1100px) {
    
}
@media screen and (min-width: 1201px) {
    .main-nav{
        display: flex;
        justify-content: space-between;
        padding-inline: 5rem;
        align-items: center;
        font-size: 1.2rem;
    }
    .main-nav > ul{
        display: flex;
        justify-content: space-evenly;
        width:50%;
        margin: 0;
        padding: 0;
    }
    .main-nav li a{
        color:rgb(70,70,70);
        text-decoration: none;
        display: flex;
        align-items: center;
    }
    .main-nav-products div{
        position: absolute;
        background-color: #ffffff;
        width:250px;
        padding:.5rem;
        box-shadow: 0px 0px 20px rgba(200,200,200,.6);
        border-radius: 5px;
        transform: scale(0,0);
    }
    .main-nav > div:last-child a{
        text-decoration: none;
        border: .5px solid var(--text-color);
        border-radius: 10px;
        padding: .3rem .35rem;
        color: var(--text-color);
        font-size: 1.15rem;
    }
}
